h1{
  
color:red;
  
background-color:green;
  
text-align: center

background: linear-gradient(0, #DC143C, #7FFF00)

h1{text-align: center;}

h2{text-align: center;}

p{text-align: center;}

p{


  
}

body{


  
}





}
