h1 {
  color: #fe218b;
  text-align: center;
  font-family: "Garamond", serif;
  font-size: 60px;

}

h4 {
  color: #fe218b;
  text-align: center;
  font-family: "Garamond", serif;
  font-size: 60px;
  
}

p {
  color: #1E90FF;
  text-align: center;
  font-family: "Courier New", Times, serif;
  font-size: 12px;

}

body {
   text-align: center;
  background: linear-gradient(90, #1E90FF, #FF1493;
}




